<html dir="ltr" lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>OPENIEX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="openiex,交易所,BTC,coin" name="keywords">
  <link rel="stylesheet" href="/Public/js/lib/iconfont/iconfont.css" />
  <link rel="stylesheet" media="screen and (max-width: 600px)" href="/Public/css/single/help/small.css" />
  <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1000px)" href="/Public/css/single/help/middle.css" />
  <link rel="stylesheet" media="screen and (min-width: 1001px)" href="/Public/css/single/help/pc.css" />
  <link rel="stylesheet" type="text/css" href="/Public/css/single/help/index.css"/>
  <link rel="stylesheet" href="/Public/js/lib/iconfont/iconfont.css" />
</head>
<body class="">
  
  <include file="App/Home/View/Single/comm/header.html"/>

    

    <main role="main">
      <div class="container-divider"></div>
      <div class="container">
        <nav class="sub-nav">
          <ol class="breadcrumbs">
            
            <li title="Binance">
              
              <a href="/home/single/help">OPENIEX</a>
              
            </li>
            
            
            
          </ol>

          <form role="search" class="search" data-search="" action="/Home/single/search.html"  method="get"><input type="hidden" value="✓"><input type="hidden" name="category" id="category" value="115000056351">
            <input type="search" name="query" id="query" placeholder="搜索" aria-label="搜索"></form>
          </nav>

          <div class="article-container" id="article-container">
            <section class="article-sidebar">
              <section class="section-articles collapsible-sidebar">
                <h3 class="collapsible-sidebar-title sidenav-title">此组别内的文章</h3>
                <ul id="ulis">
                    
                </ul>
     
                
              </section>
            </section>

            <article class="article">
              <header class="article-header">
                <h1 title="HSR、TRX空投活动结束公告" class="article-title">
                 
                  
                </h1>

                <div class="article-author">
                  <div class="avatar article-avatar">
                    
                    <span class="icon-agent"></span>
                    
                    <img src="https://support.binance.com/system/photos/1140/9841/6071/徽标37x37.png" alt="Avatar" class="user-avatar">
                  </div>
                  <div class="article-meta">
                    OPENIEX
                    <ul class="meta-group">
                     
                      <li class="meta-data"><time class="timer">0</time></li>
                    </ul>
                  </div>
                </div>
                <a class="article-subscribe" rel="nofollow" role="button" data-auth-action="signin" aria-selected="false" href="/hc/zh-cn/articles/115002742352-HSR-TRX%E7%A9%BA%E6%8A%95%E6%B4%BB%E5%8A%A8%E7%BB%93%E6%9D%9F%E5%85%AC%E5%91%8A/subscription">关注</a>
              </header>

              <section class="article-info">
                <div class="article-content" id="article-body">
                  <div class="article-body">

                  </div>

                    <div class="article-attachments">
                      <ul class="attachments">
                        
                        <li class="attachment-item">
                          <a href="/hc/zh-cn/article_attachments/115003408611/HSR.xlsx" target="_blank">HSR.xlsx</a>
                          <div class="attachment-meta meta-group">
                            <span class="attachment-meta-item meta-data">70 KB</span>
                            <a href="/hc/zh-cn/article_attachments/115003408611/HSR.xlsx" target="_blank" class="attachment-meta-item meta-data">Download</a>
                          </div>
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                </section>

                <footer>
                  <div class="article-footer">
                    <div class="article-share"><ul class="share">
                      <li><a href="" class="share-facebook">Facebook</a></li>
                      <li><a href="" class="share-twitter">Twitter</a></li>
                      <li><a href="" class="share-linkedin">LinkedIn</a></li>
                      <li><a href="" class="share-googleplus">Google+</a></li>
                    </ul>
                  </div>
                  
                </div>
                
                <div class="article-votes">
                  <span class="article-votes-question">这篇文章有帮助吗？</span>
                  <div class="article-votes-controls" role="radiogroup">
                    <a role="radio" rel="nofollow" class="button article-vote article-vote-up" title="是" aria-selected="false" href="#"></a>
                    <a role="radio" rel="nofollow" class="button article-vote article-vote-down" title="否" aria-selected="false" href="#"></a>
                  </div>
                  <small class="article-votes-count">
                    <span class="article-vote-label">18 人中有 15 人觉得有帮助</span>
                  </small>
                </div>
                

                <div class="article-more-questions">
                  还有其它问题？<a href="">提交请求</a>
                </div>
                <div class="article-return-to-top">
                  <a href="#article-container">返回页首<span class="icon-arrow-up"></span></a>
                </div>
              </footer>

              <section class="article-relatives">
                <section class="related-articles">
                  <h3>相关文章</h3>
                  <ul id="uli2">
                    
                    
                    
                  </ul>
                </section>


              </section>
              <div class="article-comments" id="article-comments">
                <section class="comments">
                  <header class="comment-overview">
                    <h3 class="comment-heading">
                      评论
                    </h3>
                    <p class="comment-callout">0 条评论</p>
                    
                  </header>

                  <ul id="comments" class="comment-list">
                    
                  </ul>

                  

                  

                  <p class="comment-callout">文章评论已关闭。</p>
                </section>
              </div>
            </article>
          </div>
        </div>

      </main>
      <div id="hideP" style="position: fixed;left: -999999px"></div>
   <footer class="footer1">
      <div class="fotdiv">
        <div class="fotLeft">
          <div>
            <p>OPENIEX</p>
            <span>© CopyRight 2017 China</span>
            <div class="fotImg">
              <img src="/Public/img/fx1.png" />
              <img src="/Public/img/fx2.png" />
              <img src="/Public/img/fx3.png" />
            </div>
          </div>
        </div>
        <div class="fotRight">
          <div>
            <div>
              <h6>产品</h6>
              <ul>
                <li class="onli" data-src="/Home/wallet/index">余额</li>
                <li class="onli" data-src="/Home/index/index">买卖</li>
              <!--  <li>专业版</li>   -->    
              </ul>
            </div>
            <div>
              <h6>支持</h6>
              <ul>
                <li>在线工单</li>
                <li>用户咨询</li>   
                <li>API</li>    
              </ul>
            </div>
            <div>
              <h6>资源</h6>
              <ul>
                <li class="onli" data-src="/Home/single/lists.html?status=2">常见问题</li>
                <li>费率</li>
                <li>条款</li>     
              </ul>
            </div>
            <div>
              <h6>公司</h6>
              <ul>
                <li>联系方式</li>
                <li class="onli" data-src="/Home/single/lists.html?status=1">公告</li>
                <li>招聘</li>     
              </ul>
            </div>
            <div>
              <h6>关注更多</h6>
              <img src="/Public/img/fx1.png" />
              <img src="/Public/img/fx2.png" />
              <img src="/Public/img/fx3.png" />
            </div>
          </div>
        </div>
      </div>
    </footer>
        <script src="/Public/js/lib/jquery/jquery-3.2.1.min.js"></script>
        <script src="/Public/js/lib/iconfont/iconfont.js"></script>
        <script src="/Public/js/private/comm/comm.js"></script>
        <script src="/Public/js/private/single/details.js"></script>



    </body>
    </html>