<html dir="ltr" lang="zh-CN"><head>
	<meta charset="utf-8">
	<!-- v13058 -->
	<title>OPENIEX</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta content="openiex,交易所,BTC,coin" name="keywords">
	<link rel="stylesheet" href="/Public/js/lib/iconfont/iconfont.css" />
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="/Public/css/single/help/small.css" />
	<link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1000px)" href="/Public/css/single/help/middle.css" />
	<link rel="stylesheet" media="screen and (min-width: 1001px)" href="/Public/css/single/help/pc.css" />
	<link rel="stylesheet" type="text/css" href="/Public/css/single/help/index.css"/>
</head>
<body class="">


	<include file="App/Home/View/Single/comm/header.html"/>



	<main role="main">
		<section class="section hero">
			<div class="hero-inner">
				<form role="search" class="search search-full" data-search="" data-instant="true" autocomplete="off" action="/Home/single/search.html" method="get"><input  type="hidden" value="✓"><input type="search" name="query" id="query" placeholder="搜索" autocomplete="off" aria-label="搜索"></form>
			</div>
		</section>

		<div class="container">
			<section class="section knowledge-base">
				<section class="categories blocks">
					<ul class="blocks-list">


						<li class="blocks-item">
							<a href="/Home/single/lists.html?status=1" class="blocks-item-link">
								<h4 class="blocks-item-title">公告中心</h4>
								<p class="blocks-item-description"></p>
							</a>
						</li>



						<li class="blocks-item">
							<a href="/Home/single/lists.html?status=2" class="blocks-item-link">
								<h4 class="blocks-item-title">常见问题</h4>
								<p class="blocks-item-description"></p>
							</a>
						</li>


					</ul>

				</section>


			</section>



			<section class="section activity">
				<div data-app="recent-activity" data-url="/hc/api/internal/recent_activities?locale=zh-cn"><div class="recent-activity"><h2 class="recent-activity-header">最新公告</h2>
					<ul class="recent-activity-list" style="">
						
					</ul><div class="recent-activity-no-activities" style="display: none;"></div><div class="recent-activity-loader" style="display: none;">...</div><div class="recent-activity-controls" style=""><a href="/Home/single/lists.html?status=1" data-recent-activity-seemore="">查看更多</a>
					</div></div></div>
				</section>
			</div>

		</main>

		<footer class="footer1">
			<div class="fotdiv">
				<div class="fotLeft">
					<div>
						<p>OPENIEX</p>
						<span>© CopyRight 2017 China</span>
						<div class="fotImg">
							<img src="/Public/img/fx1.png" />
							<img src="/Public/img/fx2.png" />
							<img src="/Public/img/fx3.png" />
						</div>
					</div>
				</div>
				<div class="fotRight">
					<div>
						<div>
							<h6>产品</h6>
							<ul>
								<li class="onli" data-src="/Home/wallet/index">余额</li>
								<li class="onli" data-src="/Home/index/index">买卖</li>
							<!-- 	<li>专业版</li>	 -->		
							</ul>
						</div>
						<div>
							<h6>支持</h6>
							<ul>
							 <li class="onli" data-src="/Home/single/job.html">在线工单</li>
								<li>用户咨询</li>		
								<li>API</li>		
							</ul>
						</div>
						<div>
							<h6>资源</h6>
							<ul>
								<li class="onli" data-src="/Home/single/lists.html?status=2">常见问题</li>
								<li class="onli" data-src="/home/single/details.html?status=2&uid=506&st=0">费率</li>
								<li class="onli" data-src="/Home/single/clause">服务条款</li>
								<li class="onli" data-src="/Home/single/privacy">隐私</li>				
							</ul>
						</div>
						<div>
							<h6>公司</h6>
							<ul>
								<li>联系方式</li>
								<li class="onli" data-src="/Home/single/lists.html?status=1">公告</li>
								<li>招聘</li>			
							</ul>
						</div>
						<div>
							<h6>关注更多</h6>
							<img src="/Public/img/fx1.png" />
							<img src="/Public/img/fx2.png" />
							<img src="/Public/img/fx3.png" />
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script src="/Public/js/lib/jquery/jquery-3.2.1.min.js"></script>
		<script src="/Public/js/lib/iconfont/iconfont.js"></script>
		<script src="/Public/js/private/comm/comm.js"></script>
		<script src="/Public/js/private/single/help.js"></script>
		<!-- / -->
	</body></html>