<html dir="ltr" lang="zh-CN"><head>
	<meta charset="utf-8">
	<!-- v13058 -->
	<title>OPENIEX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta content="openiex,交易所,BTC,coin" name="keywords">
  <link rel="stylesheet" href="/Public/js/lib/iconfont/iconfont.css" />
  <link rel="stylesheet" media="screen and (max-width: 600px)" href="/Public/css/single/help/small.css" />
  <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1000px)" href="/Public/css/single/help/middle.css" />
  <link rel="stylesheet" media="screen and (min-width: 1001px)" href="/Public/css/single/help/pc.css" />
  <link rel="stylesheet" type="text/css" href="/Public/css/single/help/index.css"/>
  <link rel="stylesheet" href="/Public/js/lib/iconfont/iconfont.css" />
</head>
<body class="">
  <include file="App/Home/View/Single/comm/header.html"/>
  <main role="main">
    <div class="container-divider"></div>
    <div class="container">
      <nav class="sub-nav">
        <ol class="breadcrumbs">
          
          <li title="Binance">
            
            <a href="/home/single/help">OPENIEX</a>
            
          </li>

          
        </ol>

        <form role="search" class="search" data-search="" action="/Home/single/search.html"  method="get"><input  type="hidden" value="✓"><input type="search" name="query" id="query" placeholder="搜索" aria-label="搜索"></form>
      </nav>

      <div class="category-container">
        <div class="category-content">
          <header class="page-header">
            <h1>公告中心</h1>
            
          </header>

          <div class="section-tree">
            
            <section class="section">
              <h3 class="section-tree-title">
                <a href="/hc/zh-cn/sections/115000106672-%E6%96%B0%E5%B8%81%E4%B8%8A%E7%BA%BF">新币上线</a>
                
              </h3>
              
              <ul class="article-list">
                
                
                
              </ul>
              
              <p class="see-all-articles">
                查看所有 0 篇文章
              </p>
              
              
            </section>
            
            <section class="section">
              <h3 class="section-tree-title">
                <a href="/hc/zh-cn/sections/115000202591-%E6%9C%80%E6%96%B0%E5%85%AC%E5%91%8A">最新公告</a>
                
              </h3>
              
              <ul class="article-list">
                
                
                
              </ul>
              
              <p href="/hc/zh-cn/sections/115000202591-%E6%9C%80%E6%96%B0%E5%85%AC%E5%91%8A" class="see-all-articles">
                查看所有 0 篇文章
              </p>
              
              
            </section>
            
          </div>
        </div>
      </div>
    </div>

  </main>

<footer class="footer1">
      <div class="fotdiv">
        <div class="fotLeft">
          <div>
            <p>OPENIEX</p>
            <span>© CopyRight 2017 China</span>
            <div class="fotImg">
              <img src="/Public/img/fx1.png" />
              <img src="/Public/img/fx2.png" />
              <img src="/Public/img/fx3.png" />
            </div>
          </div>
        </div>
        <div class="fotRight">
          <div>
            <div>
              <h6>产品</h6>
              <ul>
                <li class="onli" data-src="/Home/wallet/index">余额</li>
                <li class="onli" data-src="/Home/index/index">买卖</li>
              <!--  <li>专业版</li>   -->    
              </ul>
            </div>
            <div>
              <h6>支持</h6>
              <ul>
                <li class="onli" data-src="/Home/single/job.html">在线工单</li>
                <li>用户咨询</li>   
                <li>API</li>    
              </ul>
            </div>
            <div>
              <h6>资源</h6>
              <ul>
                <li class="onli" data-src="/Home/single/lists.html?status=2">常见问题</li>
                <li class="onli" data-src="/home/single/details.html?status=2&uid=506&st=0">费率</li>
              <li class="onli" data-src="/Home/single/clause">服务条款</li>
                <li class="onli" data-src="/Home/single/privacy">隐私</li>    
              </ul>
            </div>
            <div>
              <h6>公司</h6>
              <ul>
                <li>联系方式</li>
                <li class="onli" data-src="/Home/single/lists.html?status=1">公告</li>
                <li>招聘</li>     
              </ul>
            </div>
            <div>
              <h6>关注更多</h6>
              <img src="/Public/img/fx1.png" />
              <img src="/Public/img/fx2.png" />
              <img src="/Public/img/fx3.png" />
            </div>
          </div>
        </div>
      </div>
    </footer>

  <script src="/Public/js/lib/jquery/jquery-3.2.1.min.js"></script>
  <script src="/Public/js/lib/iconfont/iconfont.js"></script>
  <script src="/Public/js/private/comm/comm.js"></script>
  <script src="/Public/js/private/single/lists.js"></script>
</body>
</html>