<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8" />
	<title>lianshe</title>
	<link rel="stylesheet" href="/css/deta.css"  />
</head>
	<body>
	<div class="one">
		<div class="one-wrap">
			<div class="one-header">
				<h1><img src="/images/logo.png"></h1>
				<div>
					<ul>
                        #if($!ets_user)
                        <span>$!ets_user.email 欢迎您</span>
                        <li><a href="/user/logout">注销</a> </li>
                        #else
                        <li class="heali logi"><span>login</span></li>
                        <li class="heali regi"><span>Register</span></li>
                        #end
						<!--<li class="lang">-->
						<!--<span>EngLish</span>-->
						<!--<div>-->
						<!--<ul>-->
						<!--<li>English</li>-->
						<!--<li>中文</li>-->
						<!--</ul>-->
						<!--</div>-->
						<!--</li>-->
					</ul>
				</div>
			</div>
			<h3>Email-Tokensale</h3>
			<h4>Getting the &best coversion ratio!  And thue clearer financial records,the more secure token delivery.</h4>
			<h5>whitelist registration plan</h5>
			<div class="one-in">
				<input type="text" placeholder="whitelist registration plan" id="em1"/>
				<button type="button" class="Join">Join Now</button>
			</div>
		</div>
	</div>
	<div class="to">
		<div class="to-wrap">
			<img src="images/bg2.png" class="to-hea"/>
			<h3>IN SUBSCRIBING</h3>
			<h4>THE GNX TOKEN SALE STARTS ON NOV.17,2017 AND ENDS IN</h4>
			<ul class="time">
				<li>00</li>
				<li>:</li>
				<li>00</li>
				<li>:</li>
				<li>00</li>
			</ul>
			<ul class="timeText">
				<li>DAYS</li>
				<li></li>
				<li>HOURS</li>
				<li></li>
				<li>MINUTES</li>
			</ul>
			<ul class="timebot">
				<li>Start Block:4569923</li>
				<li></li>
				<li>Current Block:4593115</li>
				<li></li>
				<li>Block:4709923</li>
			</ul>
			<div class="botImg">
				<button type="button" class="sneds">JION GNX TOKEN SALE NOW</button>
				<img src="images/dw2.png" /><span>DownLoad Genoro White Paper</span>
			</div>
		</div>
	</div>
	<div class="three">
		<h3>Transaction history</h3>
		<ul>
			<li>DATE</li>
			<li>AMOUNT</li>
			<li>TOKENSISSUED</li>
			<li>EXCHANGE RATE</li>
			<li></li>
		</ul>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="shouS" style="display: none;" >
		<div class="zz"></div>
		<div class="shou-wrap shou-ps">
			<div class="show-one" style="display: none;"/>
			<div>
				<span>01</span>
				<p>
					PLEASE READ THE GNX TOKEN PURCHASE AGREEMENT, GENARO
					WHITEPAPER AND CONFIRM THE FACTS IN THE CHECKBOXES
					BELOW IN ORDER TO PROCEED.
				</p>
			</div>
			<div class="show-d">
				<img src="images/r1.png" class="rcion"/>
				<p>
					PLEASE READ THE GNX TOKEN PURCHASE AGREEMENT, GENARO
					WHITEPAPER AND CONFIRM THE FACTS IN THE CHECKBOXES
					BELOW IN ORDER TO PROCEED.
				</p>
			</div>
			<div class="show-d">
				<img src="images/r1.png" class="rcion"/>
				<p>
					Click here to confirm that you have read, understand and agree to <span>GNX TOKEN
							SALE PURCHASE AGREEMENT</span>
				</p>
			</div>
			<div class="show-d">
				<img src="images/r1.png" class="rcion"/>
				<p>
					Click here to confirm that you have read and understand <span>the Genaro White Paper</span>
				</p>
			</div>
			<span>Please scroll down fully and check all boxes to proceed</span>
			<button type="button">CONTINUE</button>
		</div>
		<div class="show-to" style="display: none;">
			<div>
				<span>02</span>
				<div class="shod">
					<h3>PLEASE PROVIDE GENARO KYC INFORMATION</h3>
					<span><o>*</o>Your name</span>
					<input type="text" placeholder="单行输入" />
					<span><o>*</o>Your email</span>
					<input type="text" placeholder="单行输入" />
					<span><o>*</o>Your Nationality</span>
					<input type="text" placeholder="1" />
					<p>
						GSP is not open to any non-professional, non-sophisticated individual
						investorsfrom the United States, the People’s Republic of China, or
						any other country that has or will restrict token sales as per relevant
						regulations in those countries.
					</p>
					<span>The amount of ETH you’d like to participate</span>
					<input type="text" placeholder="1" />
					<span>Your ETH wallet address</span>
					<input type="text" placeholder="1" />
					<button type="button">CONTINUE</button>
				</div>
			</div>
		</div>
		<div class="show-to xxx" style="display: none;">
			<div>
				<span>03</span>
				<div class="shod">
					<h3>Thanks for filling out Genaro KYC form and we are happy to inform you
						that you are eligible for participating Genaro Support Program Token
						Sale !</h3>
					<h4>PLEASE SEND YOUR ETH TO GENARO ADDRESS</h4>
					<h5>0x568251D813e4C639ceA5FD637bc59790DD4d5958</h5>
					<h6><r>Gas Price: 24</r><r>Gwei Gas: 300,000</r></h6>
					<p>NOTE: Do NOT use the addresses of the wallets you do not own private keys from
						(e. g. exchanges wallet). Otherwise you will not be able to access your GNX.
						NOTE: You will receive your GNX soon after your ETH has been received by the
						smart contract. Please email us at info@genaro.network if there are any problems.</p>

					<button type="button">CONTINUE</button>
					<button type="button">BACK</button>
				</div>
			</div>
		</div>
		<div class="show-to sts" style="display: none;">
			<div>
				<span>04</span>
				<div class="shod">
					<h5>THANKS FOR YOUR SUPPORT!</h5>
					<button type="button">CONTINUE</button>
					<button type="button">BACK</button>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="shouD" style="display: none;">
		<div class="zz"></div>
		<div class="shou-wrap">
			<form id="login">
				<div class="los login">
					<h3>LOGIN</h3>
					<ui>
						<li>
							<label>YOUR EMAIL</label>
							<input type="text" placeholder="email" name="email" />
						</li>
						<li>
							<label>PASSWORD</label>
							<input type="text" placeholder="密码" name="password" />
						</li>
						<li>
							<button type="button" class="but1">LOGIN</button>
						</li>
						<li>
							<span class="t1">Signup</span>
							<span class="t2">Forget your password?</span>
						</li>
					</ui>
				</div>
			</form>
			<form id="sig">
				<div class="los signup">
					<h3>SIGN UP</h3>
					<ui>
						<li>
							<label>YOUR EMAIL</label>
							<input type="text" name="email" id="email1" />
						</li>
						<li>
							<label>CONFIRMATION CODE</label>
							<input type="text" style="width: 332px;" name="ver_code"/>
							<bit class="getCode">GET THE CODE</bit>
						</li>
						<li>
							<label>PASSWORD</label>
							<input type="password" name="password" />
						</li>
						<li>
							<label>CONFIRM PASSWORD</label>
							<input type="password" name="password_2"/>
						</li>
						<li>
							<button type="button" class="but2">SIGN UP</button>
						</li>
						<li>
							<span class="t3">LOGIN</span>

						</li>
					</ui>
				</div>
			</form>
			<form id="forget">
				<div class="los request">
					<h3>Request Password Reset</h3>
					<ui>
						<li>
							<label>YOUR EMAIL</label>
							<input type="text" id="email2" name="email" />
						</li>
						<li>
							<label>CONFIRMATION CODE</label>
							<input type="text" style="width: 332px;" name="ver_code"/>
							<bit class="noCode">GET THE CODE</bit>
						</li>
						<li>
							<label>NEW PASSWORD</label>
							<input type="password" name="new_password" />
						</li>
						<li>
							<button type="button" id="reset">Reset</button>
						</li>
						<li>
							<span class="onli">Signup</span>
							<span class="t4">Forget your password?</span>
						</li>
					</ui>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="/js/comm/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="/js/deta.js" ></script>
	</body>
</html>
