.amdwid>div{
	width: 100%;
}
.amdRight{
	border: 1px solid #e0e0e0;
		display: none;	
	border-top: 0;
}
.midhide{
	display: none;
}
.nano li{
	width: 33.3333% !important;
}
.nano li{
	width: 33.3333% !important;
}
.spsd{
	display: inline-block;
}
.btcsc>ul>li{
    width: 30% !important;
}
.btcsc>ul>li:nth-of-type(5){
	width: 10%!important;
}
.btcsc>ul>li:nth-of-type(1){
   display: none;
}
.amdwid>div:nth-of-type(2){
	border-right: none
	/*transition: all .3s ease;*/
}
.btcsc .nano-content>ul>li{
	width: 30% !important;
}
.btcsc .nano-content>ul>li:nth-of-type(5){
	width: 10% !important;
}
.btcsc .nano-content>ul>li:nth-of-type(1){
   display: none;
}
.buttonSpan{
	display: none;
}
.amdwid>div{
	border-right: none;
	box-sizing: border-box;
}

.smalld{
	display: block;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	position: relative;
}
.smalld img{
	width: 40px;
	margin-bottom: 20px;
	height: 40px;
}
.smalld h5{
	margin-bottom: 4px;
    max-width: 275px;
    font-weight: 600;
    font-size: 16px;
    color: #4E5C6E;
    text-overflow: ellipsis;
    overflow: hidden;
}
.smalld p{
	margin-bottom: 12px;
}
.smalld p span:nth-of-type(1){
	color: #4E5C6E;
}
.smalld p span:nth-of-type(2){
	color: #9BA6B2;
}
.divbut span{
	width: 48%;
	display: block;
	float: left;
	text-align: center;
	border-radius: 4px;
	height:40px;
	margin-bottom: 15px;
	line-height: 40px;
	color: #9BA6B2;
	font-size: 14px;
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
}
.divbut span:nth-of-type(1){
	margin-right: 4%;
}
.amdRight>div:nth-of-type(2){
	border-top: 1px solid #e0e0e0;
}
.bgcor .divbut span{
	border: 1px solid #507691
}
.bgcor .amdwid>div:nth-of-type(2){
	border-left: none
}
.bgcor .amdRight>div:nth-of-type(2){
	border-top: 1px solid #507691
}
/*.tabcont{
	border:1px solid #507691;
}*/
.bgcor .tabcont{
	border-left: none;
	border-right: none;
	border-bottom: none
}
.tabcont>div{
	border-top: none
}
.bgcor .tabcont>div{
	border: none;
	border-top:none !important
}
.bgcor .nano1{
	border-right: none;
}
.bgcor .smalld p{
	color: #A1B5C1
}
.smalld p span:nth-of-type(1){
	color: #A1B5C1
}
.bgcor .divbut span{
	color: #A1B5C1
}