body{
	background: #f4f7fa;
}
.wraps{
	padding: 0 7.5px;
	box-sizing: border-box;
	margin-top: 7.5px;
}
.lpx{
	background: #fff;
	box-shadow: 0 0 4px #989898;
	margin:7.5px;
	position: relative;
	overflow: hidden;
}
.ozlo{
	font-weight: normal;
}
.llpx{
	overflow: hidden;
}
.nano ul{
	cursor: pointer;
	overflow: hidden;
}
.bgcor .textsend>div t{
	color: #A1B5C1
}
.bgcor .textsend>div{
	border-top: 1px solid #A1B5C1
}
.textsend>div{
	    border: none;
    border-top: 1px solid #e8f0f4;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding: 0 36px 0 15px;
    font-size: 12px;
    box-sizing: border-box;
    color: #00a63f;
    text-align: center;
}
.textsend>div t{
	color: #333;
	cursor: pointer;
}
.hidezz{
	position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    background: rgba(0,0,0,.3);
    left: 0;
}
.nano-content>ul>li:nth-of-type(1){
	width: 12%;
}
.bgcor .timeTitle{
	border-bottom: 1px solid #507691;
	    background: #14384b;
}
.nano ul:hover{
	background: #f2faf5;
}
.bgcor .nano ul:hover{
	background: rgba(255,255,255,.1)
}
.divLan{
	    position: fixed;
    top: -999965px;
    right: 10px;
    z-index: 9;
}
.divLan button {
    border: none;
    padding: 4px;
    background: #F7F7F7;
    font-size: 12px;
    color: #333;
    border-radius: 2px;
}
.divLan button:hover{
	background: #e6e6e6;
	cursor: pointer;
}
.rpx{
	background: #fff;
	box-shadow: 0 0 4px #989898;
	margin:7.5px;
}
.ozlpx{
	margin: 7.5px;
	background: #fff;
	box-shadow: 0 0 4px #989898;
	overflow: hidden;
}
.lpd h3{
	padding: 0 !important;
}
.ozlpx h3{
	padding: 0 15px;
	box-sizing: border-box;
}
.wrap{
	width: 100%;
	overflow: hidden;
}
.timeTitle{
	    height: 60px;
    border-bottom: 1px solid #e8f0f4;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    background: #fff;
}

.timeTitle h2{
	font-size: 28px;
	color: #000;
	float: left;
	cursor: pointer;
	text-indent: 10px;
	font-weight: normal;
	margin-right: 3%;
	font-family: Arial;
	height: 60px;
	box-sizing: border-box;
	text-align: center;
	width: 23%;
	line-height: 60px;
}
.timeTitle ul{
	float: left;
	width: 74%;
	box-sizing: border-box;
	border: 1px solid #e8f0f4;
	border-bottom: none
}
.timeTo{
	color:#00A63F !important
}
.timeTitle  ul li {
	float: left;
	width: 16.66666%;
	font-size: 12px;
	border-right:  1px solid #e8f0f4;
	text-align: center;
	padding: 12px 0;
	overflow: hidden;
	box-sizing: border-box;
	height: 59px;
}
.timeTitle  ul li:nth-of-type(5){
	width: 33.22222222%;
	border-right: 0;
	padding: 0;
}
.timeTitle  ul li:nth-of-type(5) span{
	text-align: left;
	padding: 0 0 0 7px;
	display: block;
	color: #828282 !important;
	height: 29px;
	font-weight: normal !important;
	line-height: 29px;
	border-bottom: 1px solid #e8f0f4;
}
.timeTitle  ul li:nth-of-type(5) span i{
	color: #333 ;
	font-weight: bold;
	font-style: normal;
}
.timeTitle ul li span:nth-of-type(1){
	color: #828282;
}
.timeTitle ul li span:nth-of-type(2){
	color: #333;
	font-weight: bold;
	margin-top: 5px	
}
.timeTitle  ul li span{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.timezst{
	background: #ececf0;
	width: 100%;
	height: 267px;
}
.selectIcon{
	background: #fff;
	width: 100%;
	height: 267px;
	position: absolute;
	z-index: 2;
	top: 60px;
	left: 0;
}
.markTitle h3{
	font-size: 16px;
	font-weight: normal;
	line-height: 30px;
	display: inline-block;
}
.markTitle>div{
	float: right;
	width: 70px;
	border: 1px solid #ddd;
	color: #e8f0f4;
	overflow: hidden;
	position: relative;
	margin-top: 5px;
	height: 24px;
	border-radius: 16px;
}
.h3active span{
	cursor: pointer;
}
.h3active span:hover{
	color: #00A63F;
}
.markTitle>div input{
	width: 100%;
	border: none;
	text-indent: 22px;
	height: 26px;
	position: relative;
	line-height: 26px;
	top: -6px;
}
.markTitle{
	height: 36px;
	line-height: 36px;
	padding: 0 15px;
}

.btcsc>ul>li{
	height: 26px;
	font-size: 12px;
	color: #333;
	border-top: 1px solid #e8f0f4;
	border-bottom: 1px solid #e8f0f4;
	float: left;
	width: 22%;
	line-height: 26px;
	text-align: center;
}
.btcsc>ul>li:nth-of-type(1){
	width: 12%;
}

.langgg{
	display: none;
}

.business>div>div{
	float: left;
}
.business h3{
	font-size: 16px;
	font-weight: normal;
	width: 100%;
	box-sizing: border-box;
	height: 36px;
	line-height: 34px;
	color: #00A63F;
}
.lpd ul li:nth-of-type(1){
	margin-top: 30px;
}
.business h3 span{
	color: #333;
	font-size: 12px;
	float: right;
}
.business h3 span o{
	color: #333;
	cursor: pointer;
}
.business h4{
	font-size: 12px;
	width: 100%;
	color: #9696a4;
	text-indent: 24px;
	background: #e8f0f4;
	height: 35px;
	line-height: 35px;
}
.business ul li{
	margin-top: 20px;
	position: relative;
}
.business ul li label{
	font-size: 12px;
	color: #333;
	width: 20%;
	text-align: left;
	display: inline-block;
}
.business ul li input{
	border: 1px solid #ddd;
	height: 35px;
	width: 80%;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 0 0 0 12px ;
	line-height: 35px;
}
.business button{
	width: 100%;
	transition: all .3s ease;
	height: 40px;
	border-radius: 2px;
	line-height: 38px;
	cursor:pointer;
	font-size: 16px;
	color: #fff;
	border: none;
	margin: 20px 0 0;
	padding: 0 15px;
	box-sizing: border-box;
}
.bds{
	position: relative;
	font-size: 12px;
	color: #9696a4;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
}
.lpd{
	padding: 0 15px;
	box-sizing: border-box;
}
.bds span:nth-of-type(1){
	float: left;
	color: #333;
}
.bds span:nth-of-type(2){
	float: right;
	color: #333;
}
.ueerDd{
	font-size: 16px;
}
.tthis{
	color: #00A63F;
}
.ttthis{
	font-weight: bold;
	color: #fff;
}
.pyld>span:nth-of-type(1){
	background: #00A63F;
}
.bgcor .tthis{
	color: #00A63F !important
}
.bgcor .adNot>div:hover{
	background: rgba(255,255,255,.1)
}
.btcsc2>ul>li{
	height: 26px;
	font-size: 12px;
	color: #333;
	border-top: 1px solid #e8f0f4;
	border-bottom: 1px solid #e8f0f4;
	float: left;
	width: 25%;
	line-height: 26px;
	text-align: center;
}
.user_show>div:nth-of-type(1) ul li{
	width: 23% !important;
}
.user_show>div:nth-of-type(1) ul li:nth-of-type(5){
	width: 8% !important;
}
.show{
	height: 283.5px;
}
.show ul li{
	float: left;
	width: 25%;
	text-align: center;
	font-size: 12px;
	color: #333;
	height: 26px;
	line-height: 26px;
}
.business ul li o{
	position: absolute;
	font-size: 12px;
	right: 1px;
	top: 1px;
	height: 33px;
	line-height: 33px;
	width: 60px;
	text-align: center;
	background: #f2faf5;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.suerDd span:hover{
	color: #00a63f;
	cursor: pointer;
}

.btcsc3>ul>li{
	margin-top: 0;
	height: 26px;
	font-size: 12px;
	color: #333;
	border-top: 1px solid #e8f0f4;
	border-bottom: 1px solid #e8f0f4;
	float: left;
	width: 33.3333%;
	line-height: 26px;
	text-align: center;
}
.btcsc4>ul>li{
	margin-top: 0;
	height: 26px;
	font-size: 12px;
	color: #333;
	border-top: 1px solid #e8f0f4;
	border-bottom: 1px solid #e8f0f4;
	float: left;
	width: 25%;
	line-height: 26px;
	text-align: center;
}
.slozMark .nano-content ul li{
	float: left;
	width: 33.33333%;
	margin-top: 0;
	text-align: center;
	font-size: 12px;
	color: #333;
	height: 26px;
	line-height: 26px;
}
.sloz .sloz .nano-content ul li{
	float: left;
	width: 25%;
	margin-top: 0;
	text-align: center;
	font-size: 12px;
	color: #333;
	height: 26px;
	line-height: 26px;
}
.adNot{
	border: 1px solid #e8f0f4;
}
.adNot>div{
	padding: 15px;
	border-bottom: 1px solid #e8f0f4;
	height: 64.7px;
	position: relative;
}
.adNot>div:nth-of-type(3){
	border-bottom: none;
}
.adNot>div h5{
	color: #00A63F;
	font-size: 14px;
	font-weight: normal;
}
.adNot>div span{
	color: #828282;
	font-size: 12px;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
.adNot>div p{
	color: #333;
	font-size: 12px
}
.adNot>div:hover{
	background:#f2faf5;	
	cursor: pointer;
}
.udd{
	padding: 0 15px 0 15px;
	box-sizing: border-box;
	height: 36px;
	line-height: 36px;
}
.uddd{
	padding: 10px 15px 0;
	margin-bottom: 10px;
	box-sizing: border-box;
	color: #00A63F;
}
.iconfont1{
	position: absolute;
	top: 4px;
	left: 5px;
}
.soso{
	transition: all .3s ease-in-out;
}
.smanllmm{
	display: none;
}
.uda{
	padding: 11px 15px 0;
}
.pyld{
	padding: 0;
}
.pyld span{
	width: 50%;
	height: 40px;
	cursor: pointer;
	line-height: 40px;
	text-align: center;
	float: left;
}
.czz{
	text-align: center;
	padding-bottom: 24px;
	position: relative;
	display: none;
}
.fss{
	text-align: center;
	padding-bottom: 25px;
	position: relative;
	display: none;
}
.bds span{
	cursor: pointer;
}
.fss label {
	font-size: 14px;
	color: #828282;
	margin: 9.5px 0;
	display: block;
}
.txjs label{
	margin:0;
	float: left;
}
.txjs>div{
	float: right;
	font-size: 14px;
	color: #333;
}
.fss label>span {
	font-size: 12px;
	float: right;
	color: red;
	margin-top: 1px;
}
.txsSave {
	overflow: hidden;
	position: relative;
}
.txsSave input {
	border: 1px solid #ddd;
	border-right: 0;
	text-indent: 12px;
	width: 100%;
	box-sizing: border-box;
	float: left;
	height: 35px;
	line-height: 35px;
}
.lpt>div{
	height: 309px
}
.txsSave span {
	height: 35px;
	line-height: 33px;
	font-size: 22px;
	color: #828282;
	position: absolute;
	cursor: pointer;
	text-align: center;
	right: 0;
	width: 60px;
	box-sizing: border-box;
	border: 1px solid #ddd;
}
.iconft {
	position: absolute;
	right: 74px;
	top: 9px;
	color: #828282;
	cursor: pointer;
	font-size: 20px;
}
.txjs {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	margin-top: 4px;
}
.utx {
	width: 100%;
	height: 40px;
	border: none;
	background: #00a63f;
	color: #fff;
	cursor: pointer;
	margin-top: 9px !important;
}
.ulisadd {
	position: absolute;
	background: #fff;
	width: 340px;
	height: 100px;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	overflow-y: auto;
	border-top: inherit;
	display: none;
	box-sizing: border-box;
}
.ulisadd ul li {
	height: 20px;
	cursor: pointer;
	line-height: 20px;
	color: #828282;
	text-indent: 12px;
}
.txtc input {
	height: 35px;
	line-height: 35px;
	width: 100%;
	text-indent: 12px;
	box-sizing: border-box;
	border: 1px solid #ddd;
}
.txs{
	text-align: left;
	padding:0 15px;
}
.fss,.czz{
	padding: 0
}
.cop {
	padding: 0 15px;
	position: relative;
}
.delczz{
	position: absolute;
	top: 14px;
	cursor: pointer;
	right: 15px;
	font-size: 12px;
}
.cop input {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ddd;
	padding: 0 2px 0 12px;
	border-right: none;
	float: left;
	color: #333;
	font-size: 12px;
	box-sizing: border-box;
}
.cop .icon {
	float: none;
	cursor: pointer;
	color: #fff;
	font-size: 29px;
	position: relative;
	top: 4px;
}
.cop span {
	width: 60px;
	height: 40px;
	display: block;
	position: absolute;
	text-align: center;
	right: 15px;
	line-height: 40px;
	background: #00a63f;
}
.czz img{
	width: 120px;
	height: 120px;
	box-sizing: border-box;
	border: 3px solid #fff;
	margin: 30px auto 15px;
}
.bgcor .utx:hover{
	background: #00A63F !important;
	border: none
}
.bgcor .icondel:hover{
	color: #f03838  !important
}
.czz>div:nth-of-type(1){
	height: 40px;
	text-indent: 12px;
	line-height: 40px;
	text-align: left;
	border-bottom: 1px solid #e8f0f4;
	font-size: 16px;
	font-weight: normal;
	width: 100%;
	box-sizing: border-box;
	height: 42px;
	line-height: 42px;
	color: #00A63F;
}
.fss>div:nth-of-type(1){
	height: 40px;
	line-height: 40px;
	text-align: left;
	text-indent: 12px;
	border-bottom: 1px solid #e8f0f4;
	font-size: 16px;
	font-weight: normal;
	width: 100%;
	box-sizing: border-box;
	height: 42px;
	line-height: 42px;
	color: #00A63F;
}
.czz>div:nth-of-type(2){
	color: red;
	font-size: 12px;
	height: 40px;
	line-height: 29px;
}
.off img{
	position: relative;
	top: 4px;
}
.bgcor .header>div{
	background: #153143;
	border-bottom: 1px solid #507691;
	box-sizing: content-box;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.bgcor .header h1{
	color: #fff;
}
.bgcor .thisColor{
	background: transparent;
}
.bgcor .tiRight ul li {
	color: #507691;
}
.bgcor .endlis .icon{
	color: #507691 !important
}

.bgcor .icon{
	color: #A1B5C1 !important;
}
.bgcor .tiRight ul li:hover{
	background: transparent;
	color:#00A63F !important;
}
.bgcor .tiRight ul li:hover .icon{
	color:#00A63F !important;
}
.bgcor .lpx{
	background: #14384b;
	color: #A1B5C1;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.bgcor .rpx{
	background: #14384b;
}
.bgcor .timeTitle h2{
	color: #A1B5C1;
}
.bgcor .timeTitle  ul li{
	border-right: 1px solid #507691;
}
.bgcor .timeTitle  ul li:nth-of-type(1){
	border-left: 1px solid #507691
}
.bgcor .timeTitle ul{
	border: none
}
.bgcor .timeTitle ul li span:nth-of-type(1){
	color: #A1B5C1;
}
.bgcor .timeTitle ul li span:nth-of-type(2){
	color: #A1B5C1;
}
.bgcor .timeTitle  ul li:nth-of-type(5) span i{
	color: #A1B5C1 !important;
}
.bgcor .timeTitle  ul li:nth-of-type(5) span{
	border-bottom: 1px solid  #507691;
}
.bgcor .timeTitle  ul li:nth-of-type(5) span{
	color: #A1B5C1 !important;
}
.bgcor .timeTitle  ul li:nth-of-type(5){
	border-right: 0;
}
.bgcor .markTitle>div input{
	background: transparent;
	color: #A1B5C1;
}
.bgcor .markTitle>div{
	border: 1px solid #59809C;
}
.bgcor .btcsc>ul>li{
	color: #A1B5C1;
	border-top: 1px solid #507691;
	border-bottom: 1px solid #507691;
}
.bgcor .nano-content>ul>li{
	color: #A1B5C1;
}
.tuite{
	float: right;
	cursor: pointer;
	color: #1DA1F3
}
.bgcor .mrbot1:hover{
	background:#00a63f !important;
	color: #fff !important;
	border: none
}
.bgcor .mrbot1{
	border: 1px solid #00A63F !important
}
.bgcor .mrbot2{
	border: 1px solid #f03838 !important
}
.bgcor .mrbot2:hover{
	background:#f03838 !important;
	color: #fff !important;
	border: none;
}
.mrbot1:hover{
	background:#00a63f !important;
	color: #fff !important;
	border: none
}
.mrbot2:hover{
	background:#f03838 !important;
	color: #fff !important;
	border: none
}
.bgcor .tuite svg{
	color: #1DA1F3 !important;
}
.bgcor .ozlpx{
	background: #14384b;
	box-shadow: 0 0 4px #919397;
}
.bgcor .business button{
	background: transparent !important;
	border: 1px solid #507691;
}
.bgcor .hideUlis{
	border-top: none;
	background: #14384b !important;
}
.bgcor .hideUlis li{
	color: #A1B5C1
}
.bgcor .hideUlis li:hover{
	color: #fff;
	cursor: pointer;
}
.bgcor .pyld span{
	color: #A1B5C1;
	cursor: pointer;
}
.bgcor .business h3 span{
	color:#A1B5C1;
}
.bgcor .business ul li label{
	color: #A1B5C1;
}
.bgcor .h3active span:nth-of-type(2){ 
	color: #59809C
}
.bgcor .business ul li input{
	background: transparent;
	border: 1px solid #507691;
	color: #507691;
}
.bgcor .rpx{
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.bgcor .ozlpx{
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.bgcor .business ul li o{
	background: #1E4C64;
	color: #59809C;
}
.bgcor .business h3 span o{
	color: #A1B5C1
}
.bgcor .bds{
	color: #A1B5C1;
}
.bgcor .adNot>div span{
	color: #59809C
}
.bgcor .bds span:nth-of-type(1){
	color: #A1B5C1;
}
.bgcor .bds span:nth-of-type(2){
	color: #A1B5C1;
}
.bgcor .btcsc3>ul>li{
	color: #A1B5C1;
	border-top: 1px solid #507691;
	border-bottom: 1px solid #507691;
}
.bgcor .btcsc2>ul>li{
	color: #A1B5C1;
	border-top: 1px solid #507691;
	border-bottom: 1px solid #507691;
}
.bgcor .show ul li{
	color: #A1B5C1;
}
.bgcor .btcsc4>ul>li{
	color: #A1B5C1;
	border-top: 1px solid #507691;
	border-bottom: 1px solid #507691;
}
.bgcor .sloz .sloz .nano-content ul li{
	color: #A1B5C1;
}
.coinName{
	font-weight: normal;
	font-family: Arial
}
input{
	outline:none
} 
.bgcor .adNot>div p{
	color: #A1B5C1;
}
.bgcor .adNot>div{
	border-top: 1px solid #507691;
	border-bottom: none;
}
.bgcor .adNot{
	border: none
}
.bgcor .adNot>div:nth-of-type(3) {
	border-bottom: none;
}
.bgcor footer{
	background:  #14384b;
	border-top: 1px solid #507691;
	box-shadow: 0 0 10px rgba(0,0,0,.5)
}
.bgcor .upfot span{
	color: #A1B5C1;
}
footer{
	margin-top: 20px;
}
.iconxia{
	float: right;
	color: #333;
	position: relative;
	top: 10px;
	font-size: 16px;
	cursor: pointer;
}
.btcsc2>ul>li{
	margin-top: 0px;
}
.mrbot{
	background: transparent;
}
.mrbot:nth-of-type(1){
	color: #00A63F;
	border: 1px solid #00A63F
}
.mcbot:nth-of-type(1){
	color: #f03838;
	border: 1px solid #f03838
}
.mcbot{
	background: transparent;
}
.off{
	display: block !important;
}
.but1{
	border: 1px solid #00a63f !important;
	color: #00A63F !important;
	background: #fff !important;
}
.but1:hover{
	background:#00a63f !important;
	color: #fff !important
}
.bgcor .but1:hover{
	background:#00a63f !important;
	color: #fff !important
}
.but2{
	border: 1px solid #f03838 !important;
	color: #f03838 !important;
	background:#fff !important;
}
.but2:hover{
	background:#f03838 !important;
	color: #fff !important
}
.bgcor .but2:hover{
	background:#f03838 !important;
	color: #fff !important
}
.bgcor .markTitle h3{
	color: #59809C
}
.user_show ul li{
	margin-top: 0 !important
}
.bgcor .nano > .nano-pane > .nano-slider{
	background: rgba(255,255,255,.1) !important;
}
.bgcor{
	background: #153143;
}
.shouczz2:hover{
	color: #00a63f
}
.shouczz1:hover{
	color: #00a63f
}
.bds span:nth-of-type(2):hover{
	color: #f03838 
}
*:focus {
	outline: none; 
}
.ozlo2{
	color: #333;
	font-weight: normal;
	font-size: 12px
}
.ozlo3{
	color: #333;
	font-weight: normal;
	font-size: 12px
}
.bgcor #container{
	background: #14384b !important
}
.bgcor .cop input{
	background: transparent;
	border: 1px solid #507691;
	color: #fff
}
.bgcor .copys .icon{
	color: #fff !important
}
.bgcor .ozlo2{
	color: #A1B5C1
}
.bgcor .czz>div:nth-of-type(1){
	border-bottom: 1px solid #507691;
}
.bgcor .fss>div:nth-of-type(1){
	border-bottom: 1px solid #507691;
}
.bgcor .txsSave input{
	background: transparent;
	border: 1px solid #507691
}
.bgcor .txsSave span{
	border :1px solid #507691;
	color: #fff
}
.bgcor .txtc input{
	background: transparent;
	border: 1px solid #507691
}
.ulisadd li{
	margin-top:0px !important
}
.bgcor .ulisadd{
    background: #14384b;
    color: #59809C;
    border: 1px solid #507691 ;
    box-sizing: border-box;
    border-top: none
}
.ulisadd ul li:hover{
	background: 
}
.bgcor .ozlo3{
	color: #A1B5C1
}
.bgcor .fss label{
	color: #A1B5C1
}
.ulisadd ul li:hover{
	background: #f2faf5
}
.bgcor .ulisadd ul li:hover{
	background: rgba(255,255,255,.1)
}
.bgcor .txjs>div{
	color: #A1B5C1
}
.orgur{
	color: #333;font-size: 12px
}
.bgcor .orgur{
	color: #A1B5C1;
}
.bgcor .pyld span{
	color: #fff
}
.bgcor ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #507691;
}
.bgcor :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #507691;
}
.bgcor ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #507691;
}
.bgcor :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #507691;
}
.iconfont1{
	color: #333
}
.bgcor .iconfont1{
	color: #507691 !important
}
.orpt{
	    font-size: 12px;
    color: #333;
    float: right;
    margin-top: 5px;
    font-weight: normal;
}
.bgcor .orpt{
	color: #A1B5C1
}
.chong{
	width: 400px;
    height: 416px;
    position: absolute;
    left: 50%;
    z-index: 99;
    background: #fff;
    border-radius: 4px;
    top: 50%;
    margin-left: -200px;
    overflow: hidden;
    margin-top: -208px;
}
.czdz{
	    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #333;
    padding: 0 30px;
    border-bottom: 1px solid #e0e0e0;
}
.czdz .icon {
    float: right;
    cursor: pointer;
    margin-top: 18px;
}
.txssd{
	padding: 0 30px;
}
.txssd li{
	margin-top: 20px;
	position: relative;
}
.txssd li label{
	font-size: 14px;
    color: #333;
    width: 20%;
    text-align: left;
    display: inline-block;
}
.txssd li input{
	border: 1px solid #ddd;
    height: 35px;
    width: 80%;
    box-sizing: border-box;
    padding: 0 0 0 12px;
    line-height: 35px;
}
.txssd li o {
    position: absolute;
    font-size: 14px;
    right: 1px;
    top: 1px;
    height: 33px;
    line-height: 33px;
    width: 60px;
    text-align: center;
    background: #f2faf5;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.txssd p{
	color: red;
	font-size: 12px;
	line-height: 24px
}
.txssd li:nth-of-type(5){
	margin-top: 10px
}
.udBot{
   text-align: right;
    padding: 10px 30px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
}
.udBot button{
	width: 80px;
	height: 40px;
	line-height: 38px;
	font-size: 14px;
	background: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
}
.udBot button:nth-of-type(2){
	background: #00a63f;
	color: #fff;
	    margin-left: 13px;
	border: none
}
.uds{
	display: none;
}
.charts{
	box-sizing: border-box;
	margin: 7.5px;
    background: #fff;
    box-shadow: 0 0 4px #989898;
    overflow: hidden;
}
.qq h3 {
    font-size: 16px;
    font-weight: normal;
    box-sizing: border-box;
    height: 36px;
    display: inline-block;
    line-height: 34px;
    color: #00A63F;
}
.qq{
			padding: 0 15px;
		box-sizing: border-box;
}
.qq>div{
	display: inline-block;
    float: right;
    position: relative;
    top: 6px;
    right: 30px;
    color: #00a63f;
}
.qq>div span{
	font-size: 14px
}
.message{
	height: 233.5px;
    padding:0 15px;
    box-sizing: border-box;
    border-top: 1px solid #e8f0f4;
}
.bgcor .message{
	border-top: 1px solid #507691;
}
.message li{
	line-height: 24px;
}
.czdz>span{
	font-size: 16px
}
.message{
	font-size: 12px;
}
.message span{
	color: #00a63f;
	float: left;
}
.message ul li>div{
	float: left;
}
.message .nano{
	min-height: 233.5px;
}
.textsend {
	position: relative;
}
.textsend input{
    border: none;
    border-top: 1px solid #e8f0f4;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding: 0 36px 0 15px;
    font-size: 12px;
    box-sizing: border-box;
    color: #828282;
}
.bgcor .textsend input{
	background: transparent;
	border-top:1px solid #507691;
	color: #A1B5C1
}
.imgRs{
position: absolute;
    right: 12px;
    top: 12px;
    font-size: 12px;
    cursor: pointer;
    color: #00a63f;
}
.qhlun{
	display: none;
	width: 90px;	
    position: absolute;
    border: 1px solid #00a63f;
    background: #fff;
    right: -21px;
    top: 43px;
    z-index: 10;
    padding-top: 10px;
    text-align: center;
    color: #828282
}
.qhlun li{
	    height: 24px;
    line-height: 21px;
    margin-bottom: 10px;
    width: 70px;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    overflow: hidden;
}
.qhlun li span{
	cursor: pointer;
}
.qhlun li span:nth-of-type(1){
	width: 40px;
    border-right: 1px solid #ddd;
    height: 24px;
    display: block;
    float: left;
}
.qhlun li span:nth-of-type(2){
	width: 27px;
    height: 24px;
    display: block;
    float: left;
}
.qhlun span:hover{
	background: #00A63F;
	color: #fff;
}
.hoverMe{
	cursor: pointer;
}
.zzcc {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    display: none;
    font-size: 14px;
    z-index: 10;
}
.ycdivv {
    position: fixed;
    text-align: left;
    z-index: 9999;
    width: 400px;
    margin-top: -250px;
    left: 50%;
    top: 50%;
    border-radius: 6px;
    background: #fff;
    overflow: auto;
    height: 144px;
    margin-left: -200px;
}
.ycdivv>div {
    background: #fff;
    padding: 30px;
}
.rediss {
    text-align: center;
    overflow: hidden;
}
.ycdivv span {
    margin-left: 20px;
}
.rediss botton {
    border: 1px solid #00a63f;
    color: #00a63f;
    width: 78px;
    transition: all .3s ease-in-out;
    margin-top: 12px;
    margin-right: 16px;
    display: inline-block;
    height: 31px;
    line-height: 31px;
    border-radius: 4px;
    cursor: pointer;
}