.wrap>div{
	float: left;
}
.upTimeMess{
	
}
.sloz{
	width: 100%;
	margin-right: 2%;
	box-sizing: border-box;
}
.mark{
	width: 100%;
}
.slozMark{
	width: 50%;
}

.sloz .sloz{
	width: 100%;
	margin-bottom: 15px;
}
.ryMark{
	width: 100%;
}
.ryMark .mark{
	width:48%;
	float: left;
	margin-bottom: 15px;
}
.ryMark .mark:nth-of-type(1){
	margin-right: 4%;
}
.timeTitle h2{
	font-size: 22px !important
}