.wrap{
	position: fixed;
	left: 50%;
	top: 24%;
	margin-left: -160px;
}
.wrap-lrg{
	padding: 20px;
	width: 320px;
}
.wrap-login span{
	width: 50%;
	text-align: center;
	font-size: 15px;
	display: block;
	float: left;
	color: rgba(255,255,255,.7);
	margin-bottom: 10px;
	cursor: pointer;
	padding: 0px 0px 5px 0px;
}

.wrap-login div{
	margin-bottom: 8px;
}
.login-q{
	color: #fff !important;
	border-bottom: 2px solid #fff;
}
.wrap-lrg label{
	font-size: 12px;
	color: #000;
}
.wrap-lrg div{
	clear: both;
}
.wrap-lrg input{
	    display: block;
    width: 100%;
    height: 34px;
    border: 1px solid #cecece;
        margin: 10px 0;
        text-indent: 12px
}
.wrap-lrg button{
	border: 1px solid #00a63f;
	background: #00a63f;
	width: 100%;
	cursor: pointer;
	line-height: 40px;
	height: 40px;
	color: #FFF;
}
.zzc{
	width: 100%;
	height:100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	display: none;
	top: 0;
}
.zzc::after{
	content: " " ;

}
.zzcc{
	width: 100%;
	height:100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	display: none;
	top: 0;
}
.zzcc::after{
	content: " " ;

}
.rediss{
	text-align: center;
	overflow: hidden;
}
.rediss botton{
	border: 1px solid #37556e;
	color: #37556e;
	width: 78px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	margin-top: 12px;
	padding: 5px;
	margin-right: 16px;
	display: inline-block;
	height: 31px;
	line-height: 22px;
	border-radius: 5px;
	cursor: pointer;
}
.rediss botton:hover{
	color: #fff;
	background: #37556e;;
}
.redis{
	text-align: center;
	overflow: hidden;
}
.ycdivv{
	position: fixed;
	text-align: left;
	z-index: 9999;
	width: 500px;
	margin-top: -250px;
	left: 50%;
	top: 50%;
	margin-left: -218px;
	border-radius: 9px;
	background: #fff;
	overflow: auto;
	height: 500px;
	margin-left: -250px;
}
.ycdivv>div{
	background: #fff;
	padding: 30px;
}
.ycdivv span{
	margin-left: 20px;
}
#erdss{
	white-space: nowrap;
	overflow: hidden;
}
.zzcc{
	width: 100%;
	height:100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	display: none;
	top: 0;
	z-index: 99;
}
.zzcc::after{
	content: " " ;

}
.rediss{
	text-align: center;
	overflow: hidden;
	margin-top: 17px;
}
.rediss botton{
	border: 1px solid #37556e;
	color: #37556e;
	width: 78px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	margin-top: 12px;
	padding: 5px;
	margin-right: 16px;
	display: inline-block;
	height: 31px;
	line-height: 22px;
	border-radius: 5px;
	cursor: pointer;
}
.rediss botton:hover{
	color: #fff;
	background: #37556e;;
}
.ycdivv{
	position: fixed;
	text-align: left;
	z-index: 9999;
	width: 400px;
	margin-top: -250px;
	left: 50%;
	top: 50%;
	margin-left: -218px;
	border-radius: 9px;
	background: #fff;
	overflow: auto;
	height: 500px;
	margin-left: -200px;
}
.ycdivv>div{
	background: #fff;
	padding: 30px;
}
.ycdivv span{
	margin-left: 20px;
}
#erdss{
	white-space: nowrap;
	overflow: hidden;
}
.yctxt {
	font-size:13px;
}
.yctxt h5{
	font-size:16px;
	color: #37556E;
	font-weight: bold;
	text-align: center;
}