.heda{
    width: 100%;
    min-width: 1201px;
    background: linear-gradient(to right, #68ddd5, #4ba1ee);
    color: #fff;
    margin-bottom: 30px;
}
.heda div{
    width: 1201px;
    height: 60px;
}
.heda div h1{
    margin: 0;
    padding: 0;
    float: left;
    font-style: italic;
    line-height: 60px;
    display: block;
    font-size: 32px;
    font-family: Arial!important;
    font-weight: bold;
}
.wrap>div{
    width: 1180px;
    overflow: hidden;
}
.zx{
    background: url(/images/jx.png);
    width: 54px;
    height: 26px;
    text-indent: 10px;
    display: inline-block;
    line-height: 26px;
}
.news-left{
    width: 870px;
    margin:0;
    overflow: hidden;
    float: left;
    background: #fff;
    min-height:700px;
    box-sizing: border-box;
    padding:0px 40px;
}
.news-left>h3{
    color: #333;
    font-size: 28px;
    margin: 30px 0 0 0;
    text-align: center;
    font-weight: normal;
}
.news-left>span:nth-of-type(1){
    font-size: 14px;
    color: #8a8a8a;
    margin-right: 20px;
    float: right;
    margin-top: 20px;
}
.news-right{
    width:286px;
    float: left;
    text-align: center;
}
.logo-CH{
    width:136px;
    height:136px;
    border-radius: 50%;
    border:1px solid #d9d9d9;
    margin-bottom: 28px;
}
.logo-CH>div{
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: #002855;
    position: relative;
    color: #fff;
    line-height: 118px;
    top: 9px;
    font-style: italic;
    font-size: 20px;
}
.news-right h6{
    font-size: 20px;
    color: #68ddd5;
    font-weight: normal;
    margin-bottom: 16px;
}
.news-title{
    padding-bottom: 8px;
    text-align: left;
    width: 230px;
    border-bottom: 1px solid #68ddd5;
    margin-bottom: 16px;
}
.news-title span{
    font-size:16px;
    color: #333;
    cursor: pointer;
}
.news-title i{
    margin: 0px 20px;
}
.title-span{
    color: #2a3c92 !important;
}
.ulis{
    text-align: left;
    color: #666;
    width:230px;
}
.ulis>div{
    text-align: center;
}
.ulis>div span{
    width: 48px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    border: 1px solid #ddd;
    color: #3e3e3e;
}
.props{
    background: #2a3c92;
    color: #fff !important;
    border: none !important;
}
.wrap>div>div {
    min-height: 800px;
    margin: 2px 0 4px 2px;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 4px #ddd;
    margin-right:20px;
}
.wrap>div>div:nth-of-type(2){
    margin-right: 0;
}
.wrap{
    margin: 90px 0 30px;
    position: relative;
}
.news-left img{
    max-width: 100%;
}
.ulis li{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ulis li:hover{
    color:#1da4db
}
.news-left>div *{
    margin: 0;
    padding: 0;
}