<header class="header">
	<div class="commhed">
		<h1 class="onli" data-src="{:U('Home/index/website')}">OPENIEX</h1>
		<ul class="dul">
					<!--<li>
						<span>市场</span>
					</li>-->
				</ul>
				<div class="tiRight">
						<ul>
							<li class="onli" data-src="{:U('Home/index/index')}">{$Think.lang.exchange}</li>
							<li class="onli" data-src="{:U('Home/single/job')}">提交工单</li>
							<li>
								<div class="upfot2">
										<if condition ="(LANG_SET eq 'en-us')">
										<i>英文</i>
									<else/>
										<i>中文</i>
									</if>
									<div class="language">
										<i class="langs" data-lang='zh-cn'>中文</i>
										<i class="langs" data-lang='en-us'>English</i>
									</div>
									<!-- <div class="sjx">
										
									</div> -->
			
								</div>
							</li>
						</ul>				
				</div>
				<div class="tiRight2">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-gengduo"></use>
					</svg>
				</div>
			</div>
			<div class="hideUlis">
				<div>
					<ul>
						<li class="onli" data-src="{:U('Home/index/index')}"><span>市场</span></li>
				<!-- 		<li class="onli" data-src="{:U('Home/index/pro')}"><span>专业版</span></li> -->
						<li class="onli" data-src="{:U('Home/single/help')}"><span>{$Think.lang.help}</span></li>
						<empty name="user_id">

						<else/>
							<li class="onli" data-src="{:U('Home/wallet/index')}"><span>账户</span></li>
							<li class="onli" data-src="{:U('Home/user/index')}"><span>个人中心</span></li>
						</empty>
						<empty name="user_id">
							<li class="onli" data-src="{:U('Home/index/login')}"><span>登录</span></li>
						<else/>
							<li class="onli" data-src="{:U('Login/loginOut')}"><span>退出</span></li>
						</empty>
					</ul>
				</div>
			</div>
			
		</header>