#abut5{
	height: 536px;
}
.template1{
	height: 584.5px;
}
#abut3{
	height: 133px;
}
#abut4{
	height: 133px;
}
#abut1 {
	height: 231px;
}
#abut2{
	height: 231px;
}
.template3{
	width: 40% !important;
}