.wraps>div>div{
	width: 100% !important;
}
.iconNamr{
	display: none;
}
.template3>div:nth-of-type(1){
	display: none;
}
#abut1{
	height: 111px;
}
#abut2{
	height: 111px;
}
#abut3{
	height: 111px;
}
#abut4{
	height: 111px;
}
#abut5{
	height: 111px;
}