.wrapTitle{
	background: #e8f0f4;
	padding: 30px 0;
	    margin-bottom: 40px;
}
.wrapTitle h2{
	font-size: 36px;
	color: #333;
	font-weight: normal;
}
.wrapTitle h3{
	font-weight: normal;
	font-size: 16px;
	color:#2571A3;
	margin: 15px auto;
}
.wrapTitle span{
	font-size: 12px;
	color: #828282;
}
.google .mark input[type="password"] {
    border: 1px solid #e0e0e0;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-left: 12px;
}
.conTitle {
	border-bottom: 1px solid #00A63F;
	padding: 0px 0px 10px 0px;
}
.conTitle span{
	color: #00A63F;
	font-size: 14px;
	font-weight: bold;
}
.solz{
	overflow: hidden;
	max-width: 1190px;
	    box-sizing: border-box;
    padding: 0 30px;
}
.solz .mark label{
	display: inline-block;
	color: #333;
	font-size: 14px;
}
.solz .mark input[type="text"]{
	width: 300px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	padding: 0 0 0 12px;
	margin-bottom: 20px;
}
.contents>div:nth-of-type(2){
	padding: 30px 0 20px;
	overflow: hidden;
}
.mess{
	margin: 0 0 28px 0;
}
.mess span{
	color: #828282;
	    display: block;
	font-size: 14px;
	    padding: 0 60px;
	    margin-bottom: 20px;
}
.mess span:nth-of-type(2){
	margin-bottom: 0;
}
.markButton{
	text-align: right !important;
}
.markButton button{
	width: 130px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	height: 50px;
	margin-left: 30px;
	color: #fff;
}
.markButton button:nth-of-type(1){
	background: #00A63F;
}
.markButton button:nth-of-type(2){
	background: #2571a3;
}
.mark o{
	color:#2571a3;
}
.ts{
	font-size: 12px;
	color: #828282;
}
.userTab{
	width: 1190px;
	height: 70px;
	line-height: 70px;
	padding: 0 20px;
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
	color: #333;
}
.userTab ul li {
	float: left;
    height: 68px;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 60px;
    line-height: 68px;
}
.userTabClass {
	border-bottom: 2px solid #00A63F;
}
.userTab ul li:hover {
	border-bottom: 2px solid #00A63F;
}
.Tabcon{
	width: 1190px;
    border: 1px solid #e0e0e0;
    border-top: 0;
    box-sizing: border-box;
}
.Tabcon>div:nth-of-type(1){
	padding-top: 36px;
}
.userImg{
	padding: 0 0 0 60px;
	box-sizing: border-box ;
}
.userImg .icon{
	font-size: 60px;
	color: #00A63F;
	margin-right: 50px;
}
.userImg>div{
	display: inline-block;
}
.userImg span {
	display: block;
	font-size: 14px;
	color: #000;
}
.userImg>div span:nth-of-type(1){
	position: relative;
	top: -10px;
}
.userImg>div span:nth-of-type(2){
	position: relative;
	top: 4px;
}
.userImg>span{
    position: relative;
    top: -31px;
    margin-left: 306px;
    display: inline-block;
}
.resImg{
	font-size: 14px;
	color: #00A63F;
	cursor: pointer;
	text-decoration: underline;	
}


.google{
	padding: 50px 100px;
}
.google .solz .mark:nth-of-type(1){
	width: 35%;
}
.google .solz .mark:nth-of-type(2){
	width: 65%;
}
.google .wrapTitle{
	background: #e8f0f4;
	padding: 30px 0;
	margin-bottom: 80px;
}
.google .wrapTitle h2{
	font-size: 36px;
	color: #333;
	text-align: center;
	font-weight: normal;
}
.google .solz{
	padding: 0 0 50px 0 !important;
	box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
}
.google .solz .mark img{
	width: 220px;
}
.google .mess h3{
	display: inline-block;
	font-size: 14px;
	margin:0 0 10px 0;
	padding-left: 6px;
	color: #000;
}
.google .mess span{
	font-size: 14px !important;
	color: #ff0000 !important;
}
.google .mess p{
	font-size: 12px;
	color: #333;
	max-width: 220px;
    margin: initial;
    padding-left: 6px;
}
.google .mark h4{
	color: #00A63F;
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: normal;
}
.google .mark span{
	font-size: 12px;
	padding: 0 !important;
	color: #333;
	display: inline-block !important;
}
.google .mark label{
	font-size: 14px;
	color: #333;
	width: 80px;
	display: inline-block;
}
.google .mark>div{
	
}
.google .mark input[type="text"]{
	border: 1px solid #e0e0e0;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    padding-left: 12px;
}
.google .mark button{
	width: 220px;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
    color: #fff;
    background: #00a63f;
    border: none;
}
.google .markp{
	clear: both;
	text-align: left;
	padding-top: 50px;
}
.google .markp p{
	color: #333;
	font-size:14px;
	margin-bottom: 20px;
	line-height: 26px;
}
.google span,p{
	    line-height: 21px;
}
.google .markp a{
	color: #333;
	font-size: 14px;
	width: 120px;
	height: 40px;
	line-height: 40px;
	background: #f2faf5;
	display: inline-block;
	margin-right: 15px;
	text-align: center;
	text-decoration: none;
}
.google .yy{
	width: 14px !important;
	position: relative;
	top: 2px;
	cursor: pointer;
}
.markspan span{
	font-size: 14px !important;
}

.upDatePass>div{
	width: 400px;
	padding-top: 50px;
}
.upDatePass label{
	display: block;
	font-size: 14px;
	color: #333;
}
.upDatePass input {
	display: block;
	margin: 20px 0 30px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	width: 100%;
	text-indent: 12px;
}
.upDatePass o{
	color:red;
}
.upDatePass button{
	height: 40px;
	line-height: 40px;
	width: 100%;
	color:#FFF;
	background: #00A63F;
	font-size: 16px;
	border: none;
}
.yqzc{
	padding-top:50px ;
}
.yqzc>div:nth-of-type(1){
	text-align: center;
}
.yqzc .icon{
	font-size: 70px;
	color: #00A63F;
	margin-bottom: 50px;
}
.yqzc img{
	margin-bottom: 50px;
}
.yqzc h4{
	font-size: 16px;
	font-weight: normal;
	color: #333;
	margin-bottom: 20px;
}
.yqzc>div:nth-of-type(1) span{
	font-size: 14px;
	color: #828282;
}
.yqxq {
	margin-top: 80px;
	box-sizing: border-box;
}
.yqxq>div{
	width: 50%;
	box-sizing: border-box;
	float: left;
	padding: 0 100px;
}
.yqxq>div:nth-of-type(1){
	padding-right: 100px;
	border-right: 1px solid #e0e0e0;
}
.yqxq>div:nth-of-type(1) h6{
	color: #00A63F;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 30px;
}
.yqxq p{
	font-size: 13px;
	color: #333;
}
.yqxq p:nth-of-type(2){
	margin-top: 30px;
}
.yqxq p:nth-of-type(2) o{
	color: #00A63F;
}
.srcfx a{
	width: 115px;
	height: 40px;
	line-height: 40px;
	border:1px solid #00A63F;
	margin-right: 20px;
	display: block;
	position: relative;
	text-align: center;
	margin-bottom: 20px;
	float: left;
	color: #00A63F;
	text-decoration: none;
	box-sizing: border-box;
}
.srcfx a:nth-of-type(3){
	margin-right: 0;
}
.srcfx .icon{
	font-size: 20px;
	margin-bottom: 0;
}
.srcfx>div{
	position: relative;
	clear: both;
}
.srcfx input{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e0e0e0;
	margin-bottom: 20px;
	text-indent: 12px;
	box-sizing: border-box;
}
.srcfx>div span{
	cursor: pointer;
	position: absolute;
    right: 0px;
    top: 0px;
    height: 40px;
    line-height: 40px;
    width: 80px;
    text-align: center;
    background: #00a63f;
    color: #fff;
}
.wraps{
	margin: 15px 0;
}
.ungoogle label{
	font-size: 14px;
    color: #333;
    width: 80px;
    display: inline-block;
}
.ungoogle input{
	    border: 1px solid #e0e0e0;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    padding-left: 12px;
}
.ungoogle button{
    width: 220px;
    height: 35px;
    cursor: pointer;
    line-height: 35px;
    color: #fff;
    background: #00a63f;
    border: none;
    margin-left: 15px;
}