.coin>ul>li {
	width: 48% !important;
	background: #fff;
    margin-right: 4%;
    box-shadow: 0px 1px 4px #b7b2b2;
    margin-bottom: 15px;
    border-radius: 8px;
    height: 82px !important;
}
.coin>ul>li>img{
	margin: 8px 0 0 0 !important;
    width: 45px !important;
}
.coin>ul>li:nth-of-type(2){
	margin-right: 0;
}
.coin{
	overflow: hidden;
	height: auto !important;
	background:none !important;
}
.yrun{
    padding: 0 15px;
    box-sizing: border-box;
    margin-top: 0 !important;
}
.yrun ul li{
	width: 100% !important;
	margin-bottom: 15px;
	box-shadow: 0px 1px 4px #b7b2b2;
	height: 100px;
	background: #fff;
	border-radius: 8px;
}
.hideUlis{
    background: linear-gradient(to right, #fff , #fff) !important;
}
.yrun ul li>div{
	width: 25%;
	float: left;
}
.yrun ul li img{
	width: 65px;
    margin-top: 17px;
}
.yrun ul li p{
	float: left;
    margin-top: 26px;
    color: #333333;
    width: 75%;
    text-align: left;
}
.wraps>div{
	background: #fff !important;
	overflow: hidden;
}
.coin>ul {
    padding: 15px !important;
}
.wraps{
	background: #fff !important;
}
.bgi{
	background: url(../../../img/bg.png) no-repeat;
	overflow: hidden;
	background-size: cover;
	
}
.bhide{
	padding-top: 11px !important;
}
.sosouk{
	width: 90% !important;
}
.sosouk input{
	width: 90% !important;
}
.jgs{
	height: auto !important;
}
.jgxs{
	width: 100% !important;
	height: auto !important;
}
.jgxs ul li{
	width: 100% !important;
}
.yss{
	width: 100% !important;
	height: auto !important;
}
.yss ul li{
	width: 100% !important;
}
.bgimg{
	width: 100% !important;
}
.bgimg>div{
	width: 100% !important;
}
.bgimg ul li img {
    margin: 0 20px 0 38px !important;
}
.fotdiv{
	width: 100% !important;
}
.fotRight{
	display: none;
}
footer{
	height: 130px !important;
}
.jgxs{
	display: none;
}

.swpers{
	display: block;
}
.swper>div{
	height: 70px;
	background: #fff;
	line-height: 22px;
}
.swper p{
	font-size: 12px;
	color: #333333;
}
.swper span{
	display: block;
	font-size: 12px;
}
.swper span:nth-of-type(1){
	color: #828282;
}
.bgimg>div:nth-of-type(2){
	margin-bottom: 60px;
}
.fotLeft p {
	height: 30px;
}
.fotLeft span {
	height: 30px;
}
.fotLeft img{
	margin-right: 5px;
}
.fotImg{
	display: block;
}
