	<footer>
			<div class="upfot">
				<p>Copyright @ OPENIEX.INC</p>
			</div>
			<empty name="user_id">

				<else/>
					<div class="upfot2">
						<if condition ="(LANG_SET eq 'en-us')">
							<if condition ="(LANG_SET eq 'en-us')">
								<i>英文</i>
							<else/>
								<i>中文</i>
							</if>
							<div class="language">
								<i class="langs" data-lang='zh-cn'>中文</i>
								<i class="langs" data-lang='en-us'>English</i>
							</div>
						<!-- <div class="sjx">

						</div> -->
					</div>
				</empty>
				 <span class="botSpan">总比特币量：10000</span>
				 <span class="botSpan"> 1TBC=$ 6300</span>
				<span class="botSpan">用户在线：<o class="userCount"></o> </span>
		</footer>