*{
	margin: 0 auto;
	padding: 0;
	font-family: "微软雅黑";
}
li{
	list-style-type: none;
}
.one-wrap{
	max-width: 1200px;
}
.one-header{
	height: 70px;
	line-height: 70px;
}
.one-header h1{
	font-size: 28px;
	color: #fff;
	float: left;
}
.one-header>div{
	float: right;
}
.one{
	background: url(../images/bg.png) 100% 100%;
	position: relative;
}
.one-header ul li{
	color: #fff;
	cursor: pointer;
}
.one-header>div>ul>li{
	float: left;
	width: 80px;
	margin-top: 21px;
	box-sizing: border-box;
    height: 30px;
    display: block;
    line-height: 28px;
    border-radius: 16px;
    text-align: center;
    margin-right: 30px;
}
.heali:hover{
	color: #0ac2ba;
	border: 1px solid #0ac2ba;
}
.one h3{
    color: #FFFFFF;
    font-size: 36px;
    top: 24%;
    position: absolute;
    border-bottom: 2px solid #0ac2ba;
    padding-bottom: 10px;
    font-weight: normal;
}
.one h4{
	font-weight: normal;
    color: rgba(255,255,255,.6);
    max-width: 780px;
    font-size: 24px;
    position: absolute;
    top: 34%;
}

.one h5{
	font-weight: normal;
    color: #fff;
    max-width: 780px;
    font-size: 24px;
    position: absolute;
    top: 59%;
}
.one-in{
	height: 40px;
    line-height: 40px;
    position: absolute;
    top: 64%;
}
.one-in input{
	    width: 380px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 16px;
    background: transparent;
    padding: 0 100px 0 24px;
    color: #fff;
    font-size: 16px;
}
input::input-placeholder {
     color: rgba(255,255,255,.6);
}
 
input::-webkit-input-placeholder {
    color: rgba(255,255,255,.6);
}
 
input:-ms-input-placeholder {
    color: rgba(255,255,255,.6);
}
 
input:-moz-placeholder {
     color: rgba(255,255,255,.6);
}
 
input::-moz-placeholder {
    color: rgba(255,255,255,.6);
}
 
input:focus::-webkit-input-placeholder {
    color: rgba(255,255,255,.6);
}
 
input:focus::-moz-input-placeholder {
    color: rgba(0, 0, 0, 0);
}
.one-in button{
	position: absolute;
    top: 0;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    right: 0px;
    border: none;
    background: linear-gradient(to right,#0ac2ba, #0072ff);
    width: 100px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    cursor: pointer;
}
.to{
    height: 847px;
    padding-top:50px ;
    width: 100%;
    position: relative;
    overflow: hidden;
      background: #0a0d26;
}
.to-wrap{
    
}
.to-hea{
	position: absolute;
    left: 50%;
    margin-left: -960px;
}
.divList{
	width: 1200px;
}
.divList>div{
	width: 380px;
    height: 476px;
    float: left;
    overflow: hidden;
    margin-top: 147px;
    background: #fff;
    text-align: center;
    margin-right: 30px;
}
.logos{
	width: 380px;
	height: 280px;
	margin-bottom: 18px;
}
.divList h5{
	line-height: 28px;
	font-size: 14px;
	color: #fff;
	color: #333;
	max-width: 280px;
	font-weight: normal;
	text-align: center;
}
.to-span{
	 width: 280px;
    height: 40px;
    line-height: 40px;
    background: linear-gradient(to right, #0ac2ba,#0072ff);
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 22px;
    margin: 10px auto 20px;

}
.to-sp-to{
	font-size: 14px;
    color: #333;
    position: relative;
    top: -6px;
}
.divList>div:nth-of-type(3){
	margin-right: 0;
}
.lang span{
	    border-bottom: 1px solid #fff;
    padding-bottom: 6px;
}
.lang>div{
	display: none;
}
.lang:hover div{
	display: block;
	padding-top: 7px;
}

.zz{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	z-index: 10;
}
.shou-wrap{
	background-color: #fff;
    padding: 50px 30px;
    background-image: url(../images/t1.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    position: absolute;
    top: 208px;
    z-index: 20;
    text-align: center;
    width: 740px;
    margin-left: -400px;
    left: 50%;
}
.los h3{
	color: #02daf1;
	font-size: 28px;
	font-weight: normal;
	margin-bottom: 45px;
}
.los label{
	width: 170px;
    text-align: left;
    float: left;
    height: 40px;
    line-height: 40px;
    color: #333;
    white-space: nowrap;
}
.los input {
	float: left;
	width: 450px;
	box-sizing: border-box;
	height: 40px;
    line-height: 40px;
       color: #999999;
       text-indent: 12px;
}
.los li{
	margin-top: 20px;
	overflow: hidden;
}
.los button{
	width: 100%;
    height: 40px;
    line-height: 40px;
    background: transparent;
    border: 1px solid #02daf1;
    color: #02daf1;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
}
.login span:nth-of-type(1){
	float: left;
	color: #02daf1;
	font-size: 14px;
}
.login span:nth-of-type(2){
	float: right;
	color: #858585;
	font-size: 14px;
}
.onli{
	cursor: pointer;
}
.signup span:nth-of-type(1){
	float: left;
	color: #02daf1;
	font-size: 14px;
}
.signup bit{
	height: 40px;
	line-height: 40px;
	background: #02daf1;
	color: #fff;
	display: block;
	width: 100px;
	float: right;
	cursor: pointer;
	font-size: 12px;
}
.signup label{
	font-size: 15px;
}
.request label{
	font-size: 15px;
}
.to-wrap h3{
	    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 50%;
    margin-left: -187px;
        top: 55px;
}
.to-wrap h4{
	color: #fff;
    font-size: 30px;
    padding-top: 155px;
    display: block;
    width: 953px;
}
.time{
	width: 1190px;
}
.time li{
	color: #fff;
    float: left;
    width: 20%;
    font-style: italic;
    font-size: 100px;
    text-align: center;
    margin-top: 85px;
    font-weight: bold;
}
.time li {  
    display: inline-block;
    color: green;
    font-family: '微软雅黑';
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#0ac2ba), to(#0072ff));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.timeText{
	width: 1190px;
}
.timeText li{
    float: left;
    width: 20%;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,.5);
    text-align: center;
    margin-top: 15px;
}
.timebot{
	width: 1190px;
	    margin-bottom: 123px;
	overflow: hidden;
}
.timebot li{
	float: left;
    width: 20%;
    font-weight: normal;
    font-size: 24px;
    color: #fff;
    text-align: center;
    white-space: pre;
    margin-top: 35px;
}
.botImg{
	height: 200px;
	background: url(../images/gx.png) 100% 100%;
	text-align: center;
	overflow: hidden;
}
.botImg button{
	width: 320px;
	height: 50px;
	line-height: 50px;
	display: block;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	margin: 50px auto 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 25px;
}
.botImg span{
	font-size: 16px;
	color: rgba(255,255,255,.6);
	position: relative;
	top: -6px;
	left: 15px;
}
.botImg img{
	cursor: pointer;
}
.three{
	height: 450px;
	background: #0c1330;
	padding: 50px 0;
}
.three h3{
	color: #fff;
	text-align: center;
	font-size: 30px;
	margin-bottom: 50px;
}
.three ul{
	width: 1190px;
}
.three li{
	width: 20%;
	float: left;
	color: #fff;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	box-sizing: border-box;
}
.three li:nth-of-type(5){
	border-right: none;
}
.three ul:nth-of-type(1){
	border: 1px solid #fff;
	overflow: hidden;
}
.three ul{
	border: 1px solid #fff;
	overflow: hidden;
	border-top: none;
}
.show-one>div:nth-of-type(1) span{
	font-size: 60px;
	font-weight: bold;
	float: left;
	color: #0ac0bc;
	margin-right: 30px;
}
.show-one>div:nth-of-type(1) p{
	font-size: 18px;
    color: #333;
    line-height: 38px;
    width: 630px;
    float: left;
    text-align: left;
}
.show-d img{
	float: left;
    margin-right: 89px;
    position: relative;
    top: 13px;
    left: 29px;
}
.show-d p{
	    font-size: 16px;
    color: #b6b6b6;
    line-height: 38px;
    float: left;
    width: 623px;
    text-align: left;
}
.show-one>div{
	margin-bottom: 18px;
	overflow: hidden;
}
.show-d span{
	color: #0ac0bc;
}
.show-one>span{
	display: block;
    text-align: left;
    margin-left: 29px;
    color: #bfbfbf;
    font-size: 14px;
    margin: 14px 0 50px 29px;
}
.show-one>button{
	width: 140px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    background: linear-gradient(to right,#0ac0bc,#0072ff);
    border: none;
    cursor: pointer;
    border-radius: 28px;
    color: #fff;
}
.show-to>div:nth-of-type(1)>span{
	font-size: 60px;
	font-weight: bold;
	float: left;
	color: #0ac0bc;
	margin-right: 24px;
}
.shod{
	float: left;
	padding: 44px 0;
	text-align: left;
	width: 550px;
}
.shod h3{
	font-size: 18px;
    color: #333;
    font-weight: normal;
    margin-bottom: 30px;
}
.shod span{
	font-size: 16px;
    color: #b6b6b6;
    display: block;
    margin-bottom: 6px;
}
.shod input{
	border: 1px solid #0ac0bc;
    height: 40px;
    line-height: 40px;
    text-indent: 19px;
    font-size: 16px;
    color: #333;
    width: 550px;
    margin-bottom: 30px;
}
.shod ::-webkit-input-placeholder { /* WebKit browsers */
    color:#8d8d8d;
}
.shod :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#8d8d8d;
}
.shod ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#8d8d8d;
}
.shod :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#8d8d8d;
}
.shod span o{
	margin-right: 14px;
}
.shod p{
	    font-size: 16px;
    color: #b6b6b6;
    line-height: 36px;
        margin-bottom: 30px;
}
.shou-wrap button{
	    width: 140px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    background: linear-gradient(to right,#0ac0bc,#0072ff);
    border: none;
    cursor: pointer;
    border-radius: 28px;
    display: block;
    color: #fff;
}
.sts .shod{
	width: 612px
}
.sts h5{
	font-size: 34px;
    text-align: center;
    color: #0ac0bc;
    margin: 80px auto;
}
.sts button{
	float: left;
}
.sts button:nth-of-type(1){
	    margin-right: 150px;
    margin-left: 85px;
}
.sts button:nth-of-type(2){
	background: #b9babe;
}
.xxx .shod{
	padding: 8px 0 ;
	width: 630px;
}
.xxx h3{
	line-height: 33px;
}
.xxx h4{
	text-align: center;
	font-size: 18px;
	color: #333;
	padding: 20px 0;
	font-weight: normal;
}
.xxx h5{
	color: #828282;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
}
.xxx h6{
	color: #333;
	font-size: 18px;
	width: 358px;
	font-weight: normal;
	overflow: hidden;
	text-align: center;
	padding: 40px 0 30px;
}
.xxx r{
    width: 50%;
    text-align: center;
    display: block;
    float: left;
}
.xxx p{
	color: #828282;
	margin-bottom:50px;
}
.xxx button{
	float: left;
}
.xxx button:nth-of-type(1){
	    margin-right: 150px;
    margin-left: 85px;
}
.xxx button:nth-of-type(2){
	background: #b9babe;
}